/* loader */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
  margin: auto;
  margin-left: 50%;
  margin-top: 19rem;
  margin-bottom: 19.35rem;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* loader end  */

nav {
  display: flex;
  justify-content: space-between;
  padding: 0rem 5rem;
  background-color: #282c34;
  color: aliceblue;
  align-items: center;
}

.menuList {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.menuList li {
  padding: 2rem 0rem;
  border-bottom: 0.3rem solid #282c34;
}

.menuList li:hover {
  border-bottom: 0.3rem solid white;
}

.navButton {
  padding: 1rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
}

.navButton:hover {
  box-shadow: -3px 1px 18px -4px #f4eee0;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  background-color: #f4eee0;
}

.eachItemCard {
  background-color: white;
  width: 20rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.eachItemCard:hover {
  box-shadow: -3px 1px 18px -4px #282c34;
}

.message {
  text-align: center;
  margin: auto;
  margin-top: 19rem;
  margin-bottom: 19.35rem;
}

.itemImage {
  height: 16rem;
  width: 14rem;
  object-fit: contain;
  align-self: center;
}

.itemTitle {
  text-align: center;
}

.ratingDiv {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 2rem;
  color: blue;
  margin-top: -0.5rem;
}

.addCartButton {
  background-color: #282c34;
  color: aliceblue;
  font-weight: bold;
  padding: 1rem;
  width: fit-content;
  align-self: center;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: -2rem;
}

.addCartButton:hover {
  box-shadow: -3px 1px 18px -4px #282c34;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #282c34;
  padding: 1rem 5rem;
  color: aliceblue;
  align-items: center;
}

@media screen and (max-width: 850px) {
  nav {
    flex-direction: column;
  }

  .menuList li {
    margin-left: 0rem;
  }

  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer p {
    text-align: center;
  }

  .navButton {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 400px) {
  nav {
    font-size: 80%;
    gap: 0rem;
  }

  .navButton {
    display: flex;
    text-align: center;
    font-size: 80%;
  }

  .menuList {
    font-size: 80%;
  }

  .eachItemCard {
    width: 80%;
    border-radius: 0;
    font-size: 80%;
  }

  footer {
    font-size: 60%;
  }
}
